:root {
	--clr-primary-50: #e5f6ff;
	--clr-primary: var(--clr-primary-50);
	--clr-primary-100: #bce8ff;
	--clr-primary-200: #90d9ff;
	--clr-primary-300: #69caff;
	--clr-primary-400: #53beff;
	--clr-primary-500: #4cb2ff;
	--clr-primary-600: #48a4f0;
	--clr-primary-700: #4390db;
	--clr-primary-800: #3e7fc7;
	--clr-primary-900: #355fa3;
	--clr-complementary-50: #ffeee5;
	--clr-complementary: var(--clr-complementary-50);
	--clr-complementary-100: #ffdcb9;
	--clr-complementary-200: #ffc88c;
	--clr-complementary-300: #feb55b;
	--clr-complementary-400: #fba72b;
	--clr-complementary-500: #fa9c00;
	--clr-complementary-600: #ef9400;
	--clr-complementary-700: #e18b00;
	--clr-complementary-800: #d58300;
	--clr-complementary-900: #bf7300;
	--clr-analogous-1-50: #e5fffb;
	--clr-analogous-1: var(--clr-analogous-1-50);
	--clr-analogous-1-100: #c3fef5;
	--clr-analogous-1-200: #a1fdf2;
	--clr-analogous-1-300: #82fbf0;
	--clr-analogous-1-400: #70f7ed;
	--clr-analogous-1-500: #65f2ed;
	--clr-analogous-1-600: #61e1db;
	--clr-analogous-1-700: #5ac9c1;
	--clr-analogous-1-800: #54b4aa;
	--clr-analogous-1-900: #498e80;
	--clr-analogous-2-50: #e5e9ff;
	--clr-analogous-2: var(--clr-analogous-2-50);
	--clr-analogous-2-100: #c1c8f3;
	--clr-analogous-2-200: #99a5e3;
	--clr-analogous-2-300: #7183d3;
	--clr-analogous-2-400: #5267c7;
	--clr-analogous-2-500: #314dbb;
	--clr-analogous-2-600: #2b45b1;
	--clr-analogous-2-700: #213ba5;
	--clr-analogous-2-800: #173199;
	--clr-analogous-2-900: #031f83;
	--clr-triadic-1-50: #eee5ff;
	--clr-triadic-1: var(--clr-triadic-1-50);
	--clr-triadic-1-100: #d2c0f8;
	--clr-triadic-1-200: #b499ef;
	--clr-triadic-1-300: #9573e4;
	--clr-triadic-1-400: #7d59dc;
	--clr-triadic-1-500: #6643d2;
	--clr-triadic-1-600: #543fcb;
	--clr-triadic-1-700: #363ac1;
	--clr-triadic-1-800: #0736b7;
	--clr-triadic-1-900: #002ea6;
	--clr-triadic-2-50: #ffe5f6;
	--clr-triadic-2: var(--clr-triadic-2-50);
	--clr-triadic-2-100: #fac0e6;
	--clr-triadic-2-200: #f899d3;
	--clr-triadic-2-300: #f770bf;
	--clr-triadic-2-400: #f850ad;
	--clr-triadic-2-500: #fb319a;
	--clr-triadic-2-600: #e82f94;
	--clr-triadic-2-700: #d02d8b;
	--clr-triadic-2-800: #b92c84;
	--clr-triadic-2-900: #902877;

}